/////////////////////////////////////////
//IMPORTED FONTS
//
////////////////////////////////////////
@font-face{
    font-family: HelvNu-BlkCn;
    src: url(fonts/HelveticaNeueLTStd-BlkCn.otf);
}

@font-face{
    font-family: HelvNu-BdCn;
    src: url(fonts/HelveticaNeueLTStd-BdCn.otf);
}

@font-face{
    font-family: HelvNu-Bd;
    src: url(fonts/HelveticaNeueLTStd-Bd.otf);
}

@font-face{
    font-family: HelvNu-Roman;
    src: url(fonts/HelveticaNeueLTStd-Roman.otf);
}
@font-face{
    font-family: HelvNu-Obl;
    src: url(fonts/HelveticaLTStd-Obl.otf);
}

@font-face{
    font-family: HelvNu-LtCn;
    src: url(fonts/HelveticaNeueLTStd-LtCn.otf);
}

@font-face{
    font-family: HelvNu-Lt;
    src: url(fonts/HelveticaNeueLTStd-Lt.otf)
}



$BlkCd: "HelvNu-BlkCn";
$BdCn: "HelvNu-BdCn";
$Bd: "HelvNu-Bd";
$Roman: "HelvNu-Roman";
$Obl: "HelvNu-Obl";
$LtCn: "HelvNu-LtCn";
$Lt: "HelvNu-Lt";

html{
    font-size:$root-font-size + px;
    line-height:$root-line-height + px;
    font-family: $Roman, Helvetica, arial, verdana, sans-serif;
    color:$black;
    background:transparent;
}

$font-primary: $Roman, Helvetica, arial, verdana, sans-serif;
$font-secondary: "Garamond", Georgia, "Times New Roman", Serif;
///////////////////////////////////////////////
//Paragraph Styles
//
///////////////////////////////////////////////


p {
    @include rem-selector(font-size, 1);
    @include rem-selector(line-height, $gRatio);
    @include rem-selector(margin-bottom, $gRatio);
    max-width: 60em;
    font-family: $Roman, "helvetica", Arial, verdana, Sans-serif;
    font-weight: normal;
    color:$black;
}
p.kicker{
    @include rem-selector(font-size, 1*$gRatio);
    @include rem-selector(line-height, 1.5*$gRatio);
    max-width: 40em;
    color:$vb-Charcoal;
    font-family: $Roman, "helvetica", Arial, verdana, Sans-serif;
    font-weight: normal;
}

p.font-secondary, p.font-secondary em, p.font-secondary strong{
    font-family: $font-secondary;
}
em, i, cite, q, p em{
    font-family: $Obl;
    font-style: normal;
    font-style: italic;
}

strong, b, p strong{
    font-family: $Bd;
    font-weight: bold;
}
a{
    color: $tertiary;
    text-decoration: none;
}
a:visited {
    color: shade($tertiary, 20);
    text-decoration: none;
}
a:active {
    color: $tertiary;
    text-decoration: none;
}
a:hover {
    color: tint($tertiary, 20);
    text-decoration: underline;
}
a.btn{
    @include btn();
}
p a.btn{
    @include btn();
    float:right;
    margin-top: 0.3em;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, blockquote {
    vertical-align: baseline;
}
/////////////////////////////////////////////
//HEADERS
//
////////////////////////////////////////////

h1 {
    color: tint($primary, 20);
    @include rem-selector(font-size, 2);
    @include rem-selector(line-height, $gRatio);
    @include rem-selector(margin-top, 1);
    max-width: 20em;
    text-transform: uppercase;
    font-family:$BdCn;
    font-weight: normal;

    @include breakpoint($tablet){
        @include rem-selector(font-size, 2.2);
    }
    @include breakpoint($desktop1){
        @include rem-selector(font-size, 2.618);
    }
}
header h1 {
    color: $white;
    @include rem-selector(font-size, 2*$gRatio);
    @include rem-selector(line-height, 2.2*$gRatio);
    @include rem-selector(margin-bottom, 2.2*$gRatio);

    max-width: 100%;
}
h2 {
    border-bottom: 4px solid $SecLightGold;
    font-family:$LtCn;
    font-weight: normal;
    color: $primary;
    @include rem-selector(font-size, 1.5*$gRatio);
    @include rem-selector(line-height, 1.5*$gRatio);
    @include rem-selector(margin-bottom, 1.5*$gRatio);
    padding-bottom: 4px;
    max-width: 20em;
    a{
        color: shade($primary, 20);
        &:link , &:active{ color: shade($primary, 10); text-decoration:none; }
    }
}
h3 {
    color: $DarkOrange;
    @include rem-selector(font-size, 1.3);
    @include rem-selector(line-height, $gRatio);
    text-transform: uppercase;
    font-family: $Bd;
    a{
        color: tint($DarkOrange,20);
        &:link , &:active{ color: tint($DarkOrange,20); }
        &:hover {color: lighten($DarkOrange, 10);}
    }
}
h4 {
    @include rem-selector(font-size, 1.2);
    @include rem-selector(line-height, $gRatio);
    color: $vb-Charcoal;
    font-family: $BlkCd;
}
h5 {
    @include rem-selector(font-size, 1);
    @include rem-selector(line-height, $gRatio);    
    font-family: $LtCn;
    text-transform: uppercase;
}
h6 {
    @include rem-selector(font-size, 0.8);
    @include rem-selector(line-height, $gRatio);
    font-family: $Bd;
    text-transform: uppercase;
}
h4, h5, h6 {
    color: $vb-Charcoal;
    margin-bottom: 18px;
    a{
        color: tint($black,20);
        &:link , &:active{ color: tint($black,20); }
    }
}

/////////////////////////////////////////////
//TABLES
//
////////////////////////////////////////////
table{
    width:100%;
    @include rem-selector(font-size, 1);
    color:$vb-Charcoal;
    tbody{
        tr{ 
            &:nth-child(odd){ background:tint($secondary, 50);}
            th{
                @include rem-selector(font-size, 1.2);
                font-family:$BdCn;
                color:$secondary;
                background:url(../images/noise.png) $primary;
                @include text-shadow(shade($primary,40) 0 1px 0px);
                @include box-shadow(set-alpha($black, 0.5) 0 3px 2px, set-alpha($white, 0.2) 0 1px 4px inset);
                text-transform:uppercase;
                border: 1px solid tint($primary, 20);
                border-top: 2px solid tint(lighten($primary, 20), 10);
                border-bottom: 3px solid shade(darken($primary, 20), 10);

            }
            td{
                padding:4px 8px;
                border-left: 1px dashed tint($secondary, 50);
                border-right: 1px dashed tint($secondary, 50);

                &:first-child, &:last-child{ border:0;}
            }
            
        }
    }
}
/////////////////////////////////////////////
//LISTS
//
////////////////////////////////////////////


ul, ol {
    margin-bottom: 18px;
}
ul {
    list-style-type: disc;
}
ul ul {
    list-style-type: circle;
    margin-bottom: 0;
}

ol {
    list-style-type: decimal;
}
ol li {
    line-height: 18px;
}
ol ol {
    list-style-type: lower-alpha;
    margin-bottom: 0;
}
dl{
 dt{
    @include rem-selector(font-size, 1.2);
    font-family:$BdCn;
    color:$secondary;
    background:url(../images/noise.png) $primary;
    padding:8px;
    @include text-shadow(shade($primary,40) 0 1px 0px);
    @include box-shadow(set-alpha($black, 0.4) 0 2px 3px, set-alpha($white, 0.2) 0 1px 1px inset);
    border: 1px solid tint($primary, 20);
    border-top: 1px solid tint(lighten($primary, 20), 10);
    border-bottom: 3px solid shade(darken($primary, 20), 10);
    margin-bottom:8px;
    max-width:45em;
  } 
  dd{
    @include rem-selector(margin-bottom, 1);
    padding:8px; 
    border-color:tint($secondary, 30); border-style:dashed; border-width:1px;
    max-width:50em;
    color:$black;
    &:nth-child(odd){}
  }
  dl dt{ 
    background-color: tint($primary, 30); 
    @include box-shadow(set-alpha($black, 0.1) 0 1px 1px, set-alpha($white, 0.2) 0 1px 1px inset);
    border-top: 1px solid tint($primary, 10);
    border-bottom: 1px solid shade(darken($primary, 20), 10);
    @include rem-selector(text-indent, 1);
    }
  dl dd{
    color:$vb-Charcoal;

  }
}//end dl





/////////////////////////////////////////////
//MISC Typography Elements
//
////////////////////////////////////////////

form {
    margin-bottom: 18px;
}

blockquote {
    color: $black;
    @include rem-selector(font-size, $gRatio);
    @include rem-selector(line-height, 1.5*$gRatio);
    @include rem-selector(margin-bottom, $gRatio);
    font-family: Garamond, Georgia, "Times New Roman";
    max-width: 50em;
    border-left: 10px solid $quadrary;
    @include rem-selector(padding, 2);
    padding-left: 10px; 
    padding-right:0;
    
    em, i{ font-family: Garamond, Georgia, "Times New Roman";}
    strong, b{font-family: Garamond, Georgia, "Times New Roman";}

    &.warning{
        background:shade($DarkOrange,10) url(../images/noise.png);
        @include rem-selector(padding, 2);
        color:$white;
        font-family:$BlkCd;
        border:2px dashed lighten($WVUGold, 10);
        letter-spacing: 2px;
        @include rem-selector(min-height, 3.5*$gRatio);
        @include text-shadow(shade($DarkOrange, 60) 0 -1px 1px, tint($DarkOrange, 20) 0 1px 1px  );
        @include box-shadow(set-alpha($quadrary,0.50) 0 1px 25px inset, set-alpha($black, 0.4) 0 2px 5px);

        &:before{
            content:"WARNING!";
            color:shade($DarkOrange, 20);
            width:30%;
            float:left;
            @include rem-selector(font-size, 4);
            @include rem-selector(line-height, 3.1*$gRatio);
        }
    }
    &.notice{
        background:shade($quadrary,10) url(../images/noise.png);
        @include rem-selector(padding, 2);
        color:$white;
        font-family:$BlkCd;
        border:2px solid lighten($vb-Gold, 10);
        letter-spacing: 2px;
        @include rem-selector(min-height, 3.5*$gRatio);
        @include text-shadow(shade($quadrary, 60) 0 -1px 1px, tint($quadrary, 20) 0 1px 1px  );
        @include box-shadow(set-alpha($white,0.50) 0 1px 25px inset, set-alpha($black, 0.4) 0 2px 5px);

        &:before{
            content:"notice";
            font-family:$Lt;
            color:shade($quadrary, 20);
            width:30%;
            float:left;
            @include rem-selector(font-size, 4);
            @include rem-selector(line-height, 3.1*$gRatio);
        }
    }
}//end blockquote
acronym, abbr {
    font-variant: small-caps;
}
ins {
    text-decoration: underline;
}


audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}

a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0 none;
}

abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    height: 0;
}
img, object, iframe, embed {
    max-width: 100%;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: $vb-Charcoal -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    @include rem-selector(margin, 1);
    margin-left:0; margin-right:0;
    padding: 0;
}

img {
    vertical-align: middle;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
abbr {
    cursor: help;
}

///////////////////////////////////////////////////////////////////////////
/////////////MISC SITE STUFF
////////////////////////////////////////////////////////////////////////////

#breadcrumbs {
    color: #5C6F7B;
    font-size: 10px;
    line-height: 18px;
    margin: 18px 0;
}
#breadcrumbs a.current-page {
    background-color: rgba(0, 0, 0, 0);
    color: #5C6F7B;
}



#share-and-print {
    font-size: 10px;
    margin-bottom: 18px;
}



.ir {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    overflow: hidden;
}
.ir:before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}

.sidebar, aside {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 18px;
}
ul li, .sidebar li, aside li {
    line-height: 18px;
}