////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

////////////////////////
//Font Sizes
//
////////////////////////
$root-font-size: 16;
$root-line-height: 26;
$gRatio: 1.618;
$modRatio: 0.618;

$font-size-small : 00.75em;
$font-size-small-2 : 0.875em;
$font-size-med : 1em;
$font-size-med-2: 1.0625em;
$font-size-large : 1.4375em;





/////////////////////////
///Media QUERIES
//
/////////////////////////


$mobile2: 30em;
$tablet: 48em;
$desktop1: 60em;
$desktop2: 78em;
//$breakpoint-no-query-fallbacks: true;
$no-queries: 1024px, 'no-query' true;


/////////////////////////
///Space and padding defaults
//
/////////////////////////
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;